<ion-header>
  <ion-toolbar>
    <ion-title>Select Locator</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-search
    [placeholder]="'Search by LocatorId'"
    (search)="onSearch($event.query)">
  </app-search>

  <ion-list>
    <ion-item *ngFor="let locator of filteredLocators" (click)="selectLocator(locator)">
      <ion-label>
        <p>{{ locator.LocatorId }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
