ion-card.loading {
    
    .font-30 {
      font-size: 30px;
    }
  
    .loading {
      color: #999;
    }
  }
  
  ion-card.success {
    
    .font-30 {
      font-size: 30px;
    }
  
    .success {
      color: green;
    }
  }
  
  ion-card.error {
    
    .font-30 {
      font-size: 30px;
    }
  
    .error {
      color: red;
    }
  }
  