.header-toolbar {
    --background: #3880ff; 
  }
  
  .header-toolbar ion-title {
    color: white; 
  }
  
  .back-icon {
    color: white; 
  }
  
.lot-input-card {
    margin-top: 20px;
  }
  
  .arrow-icon {
    font-size: 24px;
    color: #3880ff;
  }
  
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
  }
  